.row1 {
  display: flex;
  flex-direction:row;
  gap:20px;
  width:100%;
  align-items:center;
  justify-content:center

}
.imgemotion{

height: 220px;
margin-left: -2px;

}
.imgslide{
  height: 220px;
  margin-left: -60px;
}
.imgcolourpattern{

  height: 160px;
  margin-top: 18px;
  margin-left: -18px;
  
  }
.imganagram{

  height: 160px;
  margin-top: 25px;
  margin-left: -2px;
  
  }
.wackamole{

  height: 220px;
  margin-left: -4px;
  
}
  
.memorygame
{
  height: 220px;
  margin-left: -60px;
}
.boxgamepage {
  overflow: hidden;
  width: 213px;
  height: 213px;
  flex-shrink: 0;

  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #e8e7e7;
  background: #fff;
  box-shadow: 0px 1px 50px 0px rgba(0, 0, 0, 0.08)

}